/* From Uiverse.io by alexmaracinaru */ 
.lobutton {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 3px 15px;
  border-radius: 100px;
  background: #007fd3;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.lobutton:hover {
  background: #29a9ff;
}

.lobutton > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.lobutton:hover svg {
  transform: translateX(5px);
}

.lobutton:active {
  transform: scale(0.95);
}
